<div>

    <header>
    <div class='container-fluid clear-padding-row'>
<!--      <div class="row">-->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
<!--    <div class="">-->
    <a class="navbar-brand myFontTitle" href="#"><i class="fa-solid fa-feather-pointed"></i>台灣土種雞網</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    </div>-->
<!--    <div class="">-->
       <div class="collapse navbar-collapse myFontSubTitle" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">
            <i class="fa-solid fa-house-user"></i>回到首頁</a>
        </li>

<!--      最新消息    -->
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-newspaper"></i>最新消息
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/news/aiinfo/1">禽流感疫情資訊</a></li>
            <li><a class="dropdown-item" href="/news/feedprice/1">進口原物料價格</a></li>
<!--              <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="/news/eggmeatprice/1">家禽產地交易行情</a></li>
          </ul>
            </li>
<!--雞種介紹-->

          <li class="nav-item dropdown">
          <span></span>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-egg"></i>雞種介紹
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/breed_chicken">育種品系介紹</a></li>
            <li><a class="dropdown-item" href="/conservation_chicken">保種品系介紹</a></li>
          </ul>
            </li>
<!--      研究成果    -->
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-book"></i>研究成果
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/article/taiwan/1">台灣土雞論文</a></li>
            <li><a class="dropdown-item" href="/article/zaki/1">石岐雞論文</a></li>
            <li><a class="dropdown-item" href="/article/huadong/1">花東雞論文</a></li>
            <li><a class="dropdown-item" href="/article/kinmen/1">金門雞論文</a></li>
            <li><a class="dropdown-item" href="/article/silkie/1">絲羽烏骨雞論文</a></li>
            <li><a class="dropdown-item" href="/article/emei/1">峨嵋雞論文</a></li>
            <li><a class="dropdown-item" href="/article/takezaki/1">竹崎雞論文</a></li>
            <li><a class="dropdown-item" href="/article/faith/1">信義雞論文</a></li>
            <li><a class="dropdown-item" href="/article/nagoya/1">名古屋雞論文</a></li>
          </ul>
            </li>
<!--          會員中心-->
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>會員中心
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/<username>/info">關於我</a></li>
            <li><a class="dropdown-item" href="/<username>/change_info">更改會員資料</a></li>
            <li><a class="dropdown-item" href="/forget_password">忘記密碼</a></li>
          </ul>
            </li>
<!--          聯絡我們-->
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact_us"><i class="fa-solid fa-square-phone-flip"></i>
            聯絡我們</a>
        </li>

<!--登入/註冊-->

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-solid fa-right-to-bracket"></i>登入/註冊
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">登入</a></li>
            <li><a class="dropdown-item" href="/register">註冊</a></li>
            <div id="logout" style="display:none" ><li><a class="dropdown-item" href="#">登出</a></li></div>
              <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item github_login" href="#">GitHub登入</a></li>
          </ul>
            </li>

      </ul>
    </div>
<!--      </div>-->
  </div>
  </nav>
<!--  </div>-->

    </div>
 </header>
</div>