<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input class="replyComment" type="text" placeholder="回覆該留言">
    <input class="replyCommentsubmit" type="submit" value="回覆"></form>
<button></button>
<table>
    <tr>
        <td>作者</td>
        <td>標題</td>
        <td>資訊</td>
        <td>指導教授</td>
    </tr>
    <tr>
        <td>研究生:張凱煌</td>
        <td>地方雞種之生長、免疫、繁殖性狀與耐熱能力之調查研究</td>
        <td>國立中興大學／畜產學系／90／碩士／農業科學學門／畜牧學類</td>
        <td>指導教授:李淵百</td>
    </tr>

</table>
</body>
</html>